<launch>
	<arg name="path_file" default="path"/>
	<rosparam command="delete" param="/path" />
	<rosparam command="load" file="$(find rva_basic_tools)/test/$(arg path_file).yaml" />
	<node pkg="rva_basic_tools" type="scan_downsampler2.py" name="down" output="screen"/>
	<node pkg="rva_basic_tools" type="coll_avoidance2.py" name="coll" output="screen" />
	<node pkg="rva_basic_tools" type="controlGoal2.py" name="control" >
		<param name="max_linear_speed" value="0.3"/>
		<param name="max_angular_speed" value="0.1"/>
		<param name="distance_tolerance" value="0.1"/>
		<param name="xgoal" value="6"/>
		<param name="ygoal" value="-4"/>
	</node>
</launch>
