<launch>
<!--	<arg name="path_file" default="path_3"/>-->
<!--	<rosparam command="delete" param="/path" />-->
<!--	<rosparam command="load" file="$(find pruebas)/test/$(arg path_file).yaml" />-->

<!--	<node pkg="pruebas" type="pathPublisher.py" name="path_publisher">-->
<!--		<param name="frame" value="odom"/>-->
<!--	</node>-->
	<arg name="goal_x" default="1"/>
  	<arg name="goal_y" default="1"/>
	<rosparam command="delete" param="/path" />

	<node pkg="rva_basic_tools" type="planner_node.py" name="planner" output="screen">
    	<param name="goal/x" value="$(arg goal_x)" />
    	<param name="goal/y" value="$(arg goal_y)" />
    	<remap from="/goal_pose" to="/move_base_simple/goal"/>
  	</node>

	<node pkg="rva_basic_tools" type="scan_downsampler.py" name="down" output="screen"/>


	<node pkg="rva_basic_tools" type="coll_avoidance_pot.py" name="coll" >
		<param name="max_linear_speed" value="0.4"/>
		<param name="min_linear_speed" value="0.05"/>
		<param name="max_angular_speed" value="1.2"/>
		<param name="tolerancia_angulo" value="0.3"/>
		<param name="tolerancia_obs" value="2"/>
		<param name="k" value="0.004"/>
		<param name="tol_dist_vel" value="0.4"/>
	</node>

	<node pkg="rva_basic_tools" type="controlGoal.py" name="control" output="screen">
		<param name="max_linear_speed" value="0.7"/>
		<param name="min_linear_speed" value="0.3"/>
		<param name="max_angular_speed" value="0.6"/>
		<param name="tolerancia_angulo" value="0.3"/>
		<param name="tolerancia_punto" value="0.8"/>
		<param name="tolerancia_destino" value="0.2"/>
	</node>
</launch>
