<launch>
	<arg name="path_file" default="path"/>
	<rosparam command="delete" param="/path" />
	<rosparam command="load" file="$(find rva_basic_tools)/test/$(arg path_file).yaml" />
	<node pkg="rva_basic_tools" type="pathPublisher.py" name="path_publisher"/>
	<node pkg="rviz" type="rviz" name="rviz"/>
	<node pkg="rva_basic_tools" type="controlGoal.py" name="control" output="screen">
		<param name="max_linear_speed" value="0.8"/>
		<param name="min_linear_speed" value="0.3"/>
		<param name="max_angular_speed" value="0.4"/>
		<param name="tolerancia_angulo" value="0.3"/>
		<param name="tolerancia_punto" value="0.25"/>
		<param name="tolerancia_destino" value="0.1"/>
		<!-- <param name="goalx" value="5"/>
		<param name="goaly" value="5"/> -->
	</node>
</launch>
